# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Pytest / Testing
.pytest_cache/
.coverage

# Jupyter checkpoints
.ipynb_checkpoints/


docs/superpowers